@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');


.rect {
   transition: all 1s ease-in-out;

}
.rect:hover {
    fill: #ADD8E6;
    transition: all 1s ease-in-out;


}
#top-heading {
    font-family: 'Lato',sans-serif;
    font-weight: 400;
}

.btn1 {
    background-color: #ADD8E6;
    color: bisque;
    opacity: .9;
    position: absolute;
    right: 5%;
}
.btn1:hover {
    background-color: #ade6c5;
   
}
#svg {
    position: absolute;
    right: 0%;
    opacity: .8;

}
body {
   background-image: url('./images/0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.nav {
   border-radius: 20px;

}
.changeBtn {
    margin: 0;
}
/* #input1 {
display: flex;
flex-direction: column;
} */
.uniInput {
    display: block;
    margin: 10px;
    
    border-radius: 10px;
    padding: 4px 10px;
}
.inputSubmit {
    margin: 20px;
}
.label {
    margin-left: 10px;
}

